body {
}


.navbar.navbar-default {
    background-color: darkred;
}

.navbar.navbar-default > .navbar-header > h1 {
    color: sandybrown;
    padding-left: 25px; 
    font-weight: bolder;

}

.footer {
    text-align:right;
}

.navbar-default.navbar-nav > li > a:link {
    color:aqua;
    font-weight: bold;
}

.navbar-default.navbar-nav > li > a:hover {
    color: deeppink;
    font-weight: bold;
}

.navbar-default.navbar-nav > li > a:visited {
    color: rebeccapurple;
    font-weight: bold;  
}



#pnlBookingForm {
     padding-left: 10px;
     padding-top: 10px;
     background-color: rebeccapurple;
 }

 sup {
     color: red;
 }
